<body>
  <div class="container">
    <%= link_to 'Back', :back %>
      <h1> <%= @animal_breed.name %> </h1>
      <span><strong>Created at: </strong><%= @animal_breed.created_at %> </span><br>
    <%= link_to 'Back', :back %>
  </div>
</body>
