<body>
  <div class="container">
    <%= link_to 'Back', :back %>
      <h1> <%= @animal_species.name %> </h1>
      <span><strong>Created at: </strong><%= @animal_species.created_at %> </span><br>
    <%= link_to 'Back', :back %>
  </div>
</body>
